[submodule "P175B123 Object Oriented Programming 2"]
	path = P175B123 Object Oriented Programming 2
	url = https://github.com/Karolinskis-KTU/P175B123-Object-Oriented-Programming-2
[submodule "P170B328 Concurrent Programming"]
	path = P170B328 Concurrent Programming
	url = https://github.com/Karolinskis-KTU/P170B328-Concurrent-Programming
[submodule "P170B400 Design and Analysis of Computer Algorithms"]
	path = P170B400 Design and Analysis of Computer Algorithms
	url = https://github.com/Karolinskis-KTU/P170B400-Design-and-Analysis-of-Computer-Algorithms
[submodule "P175B602 Databases"]
	path = P175B602 Databases
	url = https://github.com/Karolinskis-KTU/P175B602-Databases
[submodule "P175B118 Object Oriented Programming 1"]
	path = P175B118 Object Oriented Programming 1
	url = https://github.com/Karolinskis-KTU/P175B118-Object-Oriented-Programming-1
[submodule "P175B014 Data Structures"]
	path = P175B014 Data Structures
	url = https://github.com/Karolinskis-KTU/P175B014-Data-Structures
